/*Invisible textarea for Markdown editor iframe*/
.invisible-text {
    display: none;
}

.btn-editor {
    font-size: 1.25rem;
    font-weight: bold;
}

.stackedit-button-wrapper {
    text-align: center;
}
