
/*STYLE FILE*/

/*Import fonts! Search for whatever font you want in https://fonts.google.com/ and click "+ Select this style" (you can click on many styles!).
A tab will open at the right, and select the @import code. Copy/paste here what's inbetween <style></style> and you're done!
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");

/* Headers: Changes the fonts for all headers */
h1,h2,h3,h4,h5,h6{
  font-family: 'Yanone Kaffeesatz';
}

h1.title{
    font-size: 320%;
    text-align: center;  
}

h2.author{
    text-align: center;  
}

h2.date{
    text-align: center;  
}


/*This will set the parameters for your body. Change font family, font weight, font size, color, etc.*/
body{
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

/*Changed the font for the code*/
code{
    font-family: 'Fira Code';
    font-size: 100%;
}

/*Created a new class called source. Color is grey and font size is slightly smaller (I use it for sources under tables, for example)*/
.source{
	color: rgba(105,105,105,0.5); /*This is for writing colors that include transparency*/
	font-size: 80%;
}

/*New class for an information box, like the ones I use in class. You can change the name and create different ones!*/
.note-box{
	background-color: #E16462; /*Change the background color here*/
	color: #FFFFFF;
    margin: 0em auto;
    overflow: hidden;
    padding: 0.4em 0.4em;
    font-weight: 600;
    font-size: 120%; /*You can use px size too, like 24px*/
    display: table; 
    text-align: center; 
    font-family: 'Fira Sans'; 
    border-radius: 15px;
}

/*I want the links to not be the default color, so I'll tell Rmarkdown to color it white, but underline it*/
/*This is saying: for all the `a` tags WITHIN note-box, do this:*/
.note-box a{
    color: #FFFFFF;
    font-weight: 600;
    font-family: 'Fira Sans';
    text-decoration: underline; 
}
